<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="CheckDronesBatteryTask" fileName="logs/checkDronesBatteryTask.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="GlobalError" fileName="logs/globalerror.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="Testing" fileName="logs/testing.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="com.musala.drone.drone.application.usecase.task.checkdronesbatterytask" level="info" additivity="false">
            <AppenderRef ref="CheckDronesBatteryTask" />
        </Logger>
        <Logger name="com.musala.drone.drone.infrastructure.config.globalerror" level="info" additivity="false">
            <AppenderRef ref="GlobalError" />
        </Logger>
        <Logger name="testing" level="info" additivity="false">
            <AppenderRef ref="Testing" />
        </Logger>
    </Loggers>
</Configuration>